<div class="sidebar-item sidebar-header">
	<div class='sidebar-brand'>
		<a href="/blog/about/">{{ site.title }}</a>
	</div>
	<p class="lead">{{ site.description }}</p>
	{%- if social.github -%}
		<a rel="me" href="https://github.com/{{ social.github | cgi_escape | escape }}" title="{{ social.github | escape }}">
			<svg class="svg-icon grey">
				<use xlink:href="{{ '/blog/assets/minima-social-icons.svg#github' | relative_url }}" />
			</svg></a></li>
	{%- endif -%}
</div>

<div class="sidebar-item sidebar-nav">
	<ul class="nav">
      <li class="nav-title">Pages</li>
	  <li>
	  	<a class="nav-item" href="/blog/">Articles</a>
	  </li>
	  {% assign pages_list = site.pages %}
	  {% for node in pages_list %}
	    {% if node.title != null %}
	      {% if node.layout == "page" %}
	        <li>
	        	<a class="nav-item" href="/blog{{ node.url }}">
	            	{{ node.title }}
	            </a>
	        </li>
	      {% endif %}
	    {% endif %}
	  {% endfor %}
	</ul>
</div>

<div class="sidebar-item sidebar-nav">
  	<ul class="nav">
        <li class="nav-title">Categories</li>
        {%- assign categories = site.categories | group_by: "first" -%}
        {% for category in categories %}
            <li>
                <a class="nav-item" href="{{ site.baseurl }}/categories#{{ category.name | slugify }}">
                    <span class="name">{{ category.name }}</span>
                    <span class="badge">{{ category.items | size }}</span>
                </a>
                <ul>
                    {% assign subcategories = category.items | map: "categories" | flatten | uniq %}
                    {% for subcategory in subcategories %}
                        {% if subcategory != category.name %}
                            <li>
                                <a class="nav-item" href="{{ site.baseurl }}/categories#{{ subcategory | slugify }}">
                                    <span class="name">{{ subcategory }}</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
	</ul>
</div>